@use 'general/variables' as *;

.header{
    min-width: 100vw;
    max-height: 146px;
    background-color: $red;
    display: flex;
    justify-content: space-between;
    padding: 0 1.2rem 0 2rem;
    margin-bottom: 0;

    &-logocontainer{
        height: 46px;
        display: flex;
        align-items: center;

        img{
            height: 90%;
        }
    }

    &-countrylogo{
        height: 46px;
        display: flex;
        align-items: center;
        img{
            border: 1px solid $white;
            border-radius: 4px;
            height: 40%;
        }
    }
}