@use 'variables' as *;

html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-padding-top: 0rem;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    font-family: $font;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2rem;

}

.container{
    height: 100vh;
    
}

.container-align{
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}


.info{
    font-size: 1.9rem;
    margin-block: 2.2rem;
}

.button{
    font-size: 1.8rem;
    font-weight: 600;
    border: none;
    background-color: red;
    color: $white;
    border-radius: 10px;
    width: 100%;
    padding: 1rem;
}

.text{
    color: gray;
    margin: 3rem 0 0 0;
}

//TEXTS AND LINK STYLING
a {
    text-decoration: none;
    color: $red;
    font-size: 1.4rem;
    font-weight: 400;
}
h1, h2, h3 {
    font-weight: 600;
    color: $black;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
}

p{
    font-size: 1.4rem;
}

.close{
    margin: 0;
    padding: 0;
}

.landing_container{
    min-height: 90vh;
    background-color: blue;
}

hr{
    height: .1px;
    color: $light-gray;
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}

section{
    padding: 3rem 0 6rem;
}

body > section {
    padding: 6rem 10rem;
}